
.all-schedule{
    .selectDay{
        color:rgb(6, 46, 105);
        font-weight: 600;
    }
}

.all-available-time{
    .btn-schedule{
        border :1px solid gray;
        padding :10px;
        line-height: 10px;
        margin-top:10px;
        background-color : yellow;
        margin-left:5px;
        &:hover{
            background-color: darkcyan;
        }
    }
    .active{
        background-color: yellow;
    }
}